@model StoreFront.UI.MVC.Models.ContactViewModel

@{
    ViewBag.Title = "Email Confirmation";
}
<div style="text-align:center;margin-top:1em">
    <h2 style="color:#2b7e3c">@ViewBag.Title</h2>
    <h4>We received the following message:</h4>
    <h4 style="color:#2b7e3c; text-decoration: underline">@Model.Message</h4>
    <h4>We will respond back as soon as possible to @Model.Email. Thank you for contacting us!</h4>
</div>