@{
    ViewBag.Title = "Home Page";
}



<section>
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>New Merchandise Has Arrived!</h1>
            <button>Shop Now</button>

        </div>
    </section>
    <div class="container monthlyBlends">
        <div class="row">
            <div class="col-md-4">
                <h6>
                    Take a look at our other products! We hand craft new blends monthly so check back with us.
                </h6>
            </div>

            <div class="col-md-2">
                <a href="#"><img src="~/Content/img/athena.jpg" class="rounded-circle img-fluid2 border trPic"></a>
                <h5 class="text-center mt-3 mb-3">Athena</h5>
                <p class="text-center"><a href="@Url.Action("Index", "Products")" class="btn btn-primary">go shop</a></p>
            </div>
            <div class="col-md-2">
                <a href="#"><img src="~/Content/img/bogeyman.jpg" class="rounded-circle img-fluid2 border trPic"></a>
                <h2 class="h5 text-center mt-3 mb-3">Bogeyman</h2>
                <p class="text-center"><a href="@Url.Action("Index", "Products")" class="btn btn-primary">go shop</a></p>
            </div>
            <div class="col-md-2">
                <a href="#"><img src="~/Content/img/zeus.jpg" class="rounded-circle img-fluid2 border trPic"></a>
                <h2 class="h5 text-center mt-3 mb-3">Zeus</h2>
                <p class="text-center"><a href="@Url.Action("Index", "Products")" class="btn btn-primary">go shop</a></p>
            </div>
            <div class="col-md-2">
                <a href="#"><img src="~/Content/img/medusa.png" class="rounded-circle img-fluid2 border trPic"></a>
                <h5 class="text-center mt-3 mb-3">Medusa</h5>
                <p class="text-center"><a href="@Url.Action("Index", "Products")" class="btn btn-primary">go shop</a></p>
            </div>


        </div>

    </div>
</section>


<div class="midSection">
    <h8>Take Time For Yourself Today, the Java Way!</h8>
</div>
<div class="bottomSections container">
    <div class="row">
        <div class="col-md-10"><p style="margin: 4em;"> Now for a limited time, you can find two incredible Lava Java offerings: Deep Hazelnut and Frothy French Vanilla. Each of the blends offering a unique taste.</p></div>
        <div class="col-md-4" style="margin: 2em;">
            <img style="width:10em; height:12em; margin:1em;" src="~/Content/img/coffeecup.png" />
        </div>
        <div class="col-md-2" style="margin: 2em;">
            <img style="width:10em; height:12em;" src="~/Content/img/coffeebeans.png" />
        </div>
    </div>
</div>
<div class="bottomSections container">
    <div class="row">
        <div class="col-md-6" style="margin: 4em;">
            <img style="width:12em; height:12em; margin:1em;" src="~/Content/img/coffeeheart.png" />
        </div>
        <div class="col-md-8"><p style="margin: 2em"> Now for a limited time, you can find two incredible Lava Java offerings: Deep Hazelnut and Frothy French Vanilla. Each of the blends offering a unique taste.</p></div>
    </div>
</div>
<div class="bottomSections container">
    <p style="margin: 4em;">Stop by for a morning treat with selections hand crafted by our team.</p>
    <div class="col-md-10">
        <img style="width:10em; height:13em; margin:1em;" src="~/Content/img/Coffee-Cup-PNG-HD.png" />
    </div>
    <div>

    </div>
</div>
